<div class="row">
<center>
    <img style="width:150px;height:150px;" src="img\Header-Logo-HotWaxSystems.png">
</center>
</div>
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6">
<div class="md-whiteframe-z5">
    <md-toolbar class="layout-padding md-toolbar-tools">Login</md-toolbar>
<md-content>
    <md-input-container class="layout-padding">
        <label>Drive Id</label>
        <input type="password" ng-model="password">
    </md-input-container>
    <md-input-container>        
        <label>Email</label>
        <input ng-model="email">
    </md-input-container>

    <md-button ng-click="candidateLogin()" class="md-raised md-primary btn-lg">Proceed</md-button>
    </md-content>

</div>
</div>


<div class="col-md-3">
</div>
</div>
