<div class="row">
<div class="col-md-8">
<div class="md-whiteframe-z5">
    
    <md-content>
    <md-input-container class="layout-padding">
        <table class="table">
          <thead>
            <tr>
              <th>
                Q1.
              </th>
              <th>
                What is the Capital of India?
              </th>
            </tr>
            </tr>
          </thead>
        </table>
                
                    <div>
                      <form ng-submit="submit()">
                        
                        <md-radio-group ng-model="data.group1">
                          <md-radio-button value="Delhi" class="md-primary">Delhi</md-radio-button>
                          <md-radio-button value="Agra" class="md-primary"> Agra </md-radio-button>
                          <md-radio-button value="Indore" class="md-primary">Indore</md-radio-button>
                          <md-radio-button value="Bhopal" class="md-primary">Bhopal</md-radio-button>
                        </md-radio-group>
                      </form>
                    </div>                  
                




      <div flex="50">
        <md-checkbox
            ng-model="data.cb2"
            aria-label="Checkbox 2"
            ng-true-value="'Selected'"
            ng-false-value="'Not Selected'"
            class="md-warn">
          Mark For Review: {{ data.cb2 }}
        </md-checkbox>
      </div>

      <table class="table">
            <tr>
              <th>
                <md-button ng-click="previous()" class="md-raised md-primary btn-lg">Previous</md-button>
                <md-button ng-click="next()" class="md-raised md-primary btn-lg">Next</md-button>
              </th>
            </tr>
        </table>
    </md-content>
</div>
</div>

<div class="col-md-4">
<div class="md-whiteframe-z5">
  <md-content>
    <md-input-container class="layout-padding">
    
        <table class="table">
            <tr>
              <th>
                <md-button ng-click="no1()" class="md-raised md-transp btn-lg">1</md-button>
                <md-button ng-click="no2()" class="md-raised md-transp btn-lg">2</md-button>
                <md-button ng-click="no3()" class="md-raised md-transp btn-lg">3</md-button>
                <md-button ng-click="no4()" class="md-raised md-transp btn-lg">4</md-button>
                <md-button ng-click="no5()" class="md-raised md-transp btn-lg">5</md-button>
                <md-button ng-click="no6()" class="md-raised md-transp btn-lg">6</md-button>
                <md-button ng-click="no7()" class="md-raised md-transp btn-lg">7</md-button>
                <md-button ng-click="no8()" class="md-raised md-transp btn-lg">8</md-button>
                <md-button ng-click="no9()" class="md-raised md-transp btn-lg">9</md-button>
                <md-button ng-click="n10()" class="md-raised md-transp btn-lg">10</md-button>
                <md-button ng-click="no11()" class="md-raised md-transp btn-lg">11</md-button>
                <md-button ng-click="no12()" class="md-raised md-transp btn-lg">12</md-button>
                <md-button ng-click="no13()" class="md-raised md-transp btn-lg">13</md-button>
                <md-button ng-click="no14()" class="md-raised md-transp btn-lg">14</md-button>
                <md-button ng-click="no15()" class="md-raised md-transp btn-lg">15</md-button>
                <md-button ng-click="no16()" class="md-raised md-transp btn-lg">16</md-button>
                <md-button ng-click="no17()" class="md-raised md-transp btn-lg">17</md-button>
                <md-button ng-click="no18()" class="md-raised md-transp btn-lg">18</md-button>
                <md-button ng-click="no19()" class="md-raised md-transp btn-lg">19</md-button>
                <md-button ng-click="no20()" class="md-raised md-transp btn-lg">20</md-button>
                <md-button ng-click="no21()" class="md-raised md-transp btn-lg">21</md-button>
                <md-button ng-click="no22()" class="md-raised md-transp btn-lg">22</md-button>
                <md-button ng-click="no23()" class="md-raised md-transp btn-lg">23</md-button>
                <md-button ng-click="no24()" class="md-raised md-transp btn-lg">24</md-button>
                <md-button ng-click="no25()" class="md-raised md-transp btn-lg">25</md-button>
                <md-button ng-click="no26()" class="md-raised md-transp btn-lg">26</md-button>
                <md-button ng-click="no27()" class="md-raised md-transp btn-lg">27</md-button>
                <md-button ng-click="no28()" class="md-raised md-transp btn-lg">28</md-button>
                <md-button ng-click="no29()" class="md-raised md-transp btn-lg">29</md-button>
                <md-button ng-click="no30()" class="md-raised md-transp btn-lg">30</md-button>
                <md-button ng-click="no31()" class="md-raised md-transp btn-lg">31</md-button>
                <md-button ng-click="no32()" class="md-raised md-transp btn-lg">32</md-button>
                <md-button ng-click="no33()" class="md-raised md-transp btn-lg">33</md-button>
                <md-button ng-click="no34()" class="md-raised md-transp btn-lg">34</md-button>
                <md-button ng-click="no35()" class="md-raised md-transp btn-lg">35</md-button>
                <md-button ng-click="no36()" class="md-raised md-transp btn-lg">36</md-button>
                <md-button ng-click="no37()" class="md-raised md-transp btn-lg">37</md-button>
                <md-button ng-click="no38()" class="md-raised md-transp btn-lg">38</md-button>
                <md-button ng-click="no39()" class="md-raised md-transp btn-lg">39</md-button>
                <md-button ng-click="no40()" class="md-raised md-transp btn-lg">40</md-button>
                <md-button ng-click="no41()" class="md-raised md-transp btn-lg">41</md-button>
                <md-button ng-click="no42()" class="md-raised md-transp btn-lg">42</md-button>
                <md-button ng-click="no43()" class="md-raised md-transp btn-lg">43</md-button>
                <md-button ng-click="no44()" class="md-raised md-transp btn-lg">44</md-button>
                <md-button ng-click="no45()" class="md-raised md-transp btn-lg">45</md-button>
                <md-button ng-click="no46()" class="md-raised md-transp btn-lg">46</md-button>
                <md-button ng-click="no47()" class="md-raised md-transp btn-lg">47</md-button>
                <md-button ng-click="no48()" class="md-raised md-transp btn-lg">48</md-button>
                <md-button ng-click="no49()" class="md-raised md-transp btn-lg">49</md-button>
                <md-button ng-click="no50()" class="md-raised md-transp btn-lg">50</md-button>
            </th>
            </tr>
        </table>
  </md-content>
</div>
</div>
</div>