			<div class="col-md-6">
				<ul class="dlist">
					<li><span>Drive:</span>{{drive.DriveID}}</li>
					<li><span>Venue:</span>{{drive.Venue}}</li>
					<li><span>Date:</span>{{drive.DateTime}}</li>
					<li><span>City:</span>{{drive.City}}</li>
					<li><span>Comments:</span>{{drive.Comments}}</li>
					<li><span>Total Participants:</span>{{drive.Participants}}</li>
				</ul>
			</div>
			<div class="col-md-6">
				<ul class="dlist">
					<li><span>Que Count Apti Master:</span>{{drive.QueAptiCount}}</li>
					<li><span>Que Count Tech Master:</span>{{drive.QueTechCount}}</li>
					<li><span>Served Que Count Apti:</span>{{drive.ServedAptiCount}}</li>
					<li><span>Served Que Count Tech:</span>{{drive.ServedTechCount}}</li>
					<li><span>Total Duration:</span>{{drive.Duration}}Mins</li>
				</ul>
			</div>