    <div class="col-md-12">
        <div class="md-whiteframe-z5">
            <md-toolbar class="layout-padding md-toolbar-tools">Extra Activities</md-toolbar>
            <md-content>
                    <div class="col-md-12">
                        <md-input-container class="layout-padding">
                            <md-chips ng-init="a=[]" ng-model="a" placeholder="Hobbies">
                            </md-chips>                       
                        </md-input-container>
                    </div>
                    <div class="col-md-12">
                        <md-input-container class="layout-padding">
                            <md-chips ng-init="b=[]" ng-model="b" placeholder="Languages">
                            </md-chips>                       
                        </md-input-container>
                    </div>
                    <div class="col-md-12">
                        <md-input-container class="layout-padding">
                            <label>List All The Extra Curricular Activities You Participated In:</label>
                            <textarea ng-model="user.ExtraCurricular"></textarea>
                        </md-input-container>
                    </div>
                    <div class="col-md-12">
                        <md-input-container class="layout-padding">
                            <label>List Certifications Achieved:</label>
                            <textarea ng-model="user.ExtraCurricular"></textarea>
                        </md-input-container>
                    </div>
                <md-button ng-click="" class="md-raised md-primary btn-md">Finish</md-button>
            </md-content>
        </div>
    </div>
