<div class="row">
  <div class="col-md-12">
    <div class="md-whiteframe-z4">
      <md-toolbar class="md-toolbar-tools layout-padding">
      Profile
      </md-toolbar>
      <md-content>
      <div class="col-md-3">
        <ul style="list-style:none">
          <li>Deepak Baghel</li>
          <li>pranay.pandey.2@hotwaxmedia.com</li>
          <li><i class="fa fa-mobile fa-4"></i>7697686486</li>
          <li><i class="fa fa-mobile fa-4"></i>0731475100</li>
        </ul>
      </div>
      <div class="col-md-3 ">
        <ul class="dlist">
          <li><span>Birthdate:</span>26/5/1994</li>
          <li><span>Gender:</span>male</li>
          <li><span>maritial Status:</span>Single</li>
          <li><span>nationality:</span>Indian</li>
        </dl>
      </div>
      <div class="col-md-3 bg-warning">
        <ul class="dlist">
          <li><span>Recruitment Test Score</span></li>
          <li><span>Aptitude:</span>0%(0/50)</li>
          <li><span>Technical:</span>1%(1.5/150)</li>
          <li><span>Aggregate:</span>0.75%(1.5/200)</li>
        </ul>
      </div>
      <div class="col-md-3 bg-info">
        <ul class="dlist">
          <li><span>Attempted Questions</span></li>
          <li><span>Gender:</span>26/5/1994</li>
          <li><span>maritial Status:</span>26/5/1994</li>
          <li><span>Birthdate:</span>26/5/1994</li>
        </ul>
      </div>
      </md-content>
    </div>
    <div class="md-whiteframe-z4">
      <md-toolbar class="md-toolbar-tools layout-padding">
      Acadamic Details
      </md-toolbar>
      <md-content>
      <table class="table">
        <thead>
          <tr>
            <th>Qualification</th>
            <th>Board/university</th>
            <th>Institute</th>
            <th>Passing year</th>
            <th>Stream</th>
            <th>%</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>B.E.</td>
            <td>RGPV</td>
            <td>SVCE</td>
            <td>2015</td>
            <td>IT</td>
            <td>68.8%</td>
          </tr>
          <tr>
            <td>10+2</td>
            <td>mpbse</td>
            <td>Tnhs</td>
            <td>2011</td>
            <td>PCm</td>
            <td>65.1%</td>
          </tr>
          <tr>
            <td>10</td>
            <td>mpbse</td>
            <td>Tnhs</td>
            <td>2009</td>
            <td>n.a.</td>
            <td>75%</td>
          </tr>
        </tbody>
      </table>
      </md-content>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="md-whiteframe-z4">
          <md-toolbar class="md-toolbar-tools layout-padding">
          Extras
          </md-toolbar>
          <md-content>
          <div class="col-md-6">
            <ul class="dlist">
              <li><span>Projects:</span>Scoreboard App  </li>
              <li><span>Acadamic Achievements:</span>none</li>
              <li><span>Technical skills:</span>26/5/1994</li>
              <li><span>Certifications:</span>26/5/1994</li>
            </ul>
          </div>
          
          <div class="col-md-6">
            <ul class="dlist">
              <li><span>Langauges known</span></li>
              <li><span>Sports:</span>26/5/1994</li>
              <li><span>hobbies:</span>26/5/1994</li>
              <li><span>Extra Curricular:</span>26/5/1994</li>
            </ul>
          </div>
          </md-content>
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-whiteframe-z4">
          <md-toolbar class="md-toolbar-tools layout-padding">
          Address Details
          </md-toolbar>
          <md-content>
          <div class="col-md-6">
            <address>
              <strong>Permanent Address</strong><br>
              B-104 Sc.134<br>
              Box 564, Disneyland<br>
              USA
            </address>
          </div>
          <div class="col-md-6">
            <address>
              <strong>Temporary Address</strong><br>
              B-104 Sc.134<br>
              Box 564, Disneyland<br>
              USA
            </address>
          </div>
          </md-content>
        </div>
      </div>
    </div>
  </div>
</div>