      <div role="tabpanel" class="tab-pane active">
                <div class="well">
            <ol class="questions">
                <li>                    
                    <div>What is the capital of india? </div>
                    <div class="row">

                    <div class="col-md-6">
                        <ul class="options">
                            <li>a) Delhi<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
                            <li>b) Kanpur</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="options">
                            <li>c) agra</li>
                            <li>d) ludhiyana</li>
                        </ul>
                    </div>
                    </div>
                </li>    
                <li>
                    <div>What is the capital of india? </div>
                    <div class="row">
                    <div class="col-md-6">
                        <ul class="options">
                            <li>a) Delhi</li>
                            <li>b) Kanpur</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="options">
                            <li>c) agra <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
                            <li>d) ludhiyana</li>
                        </ul>
                    </div>
                    </div>
                </li>    
                <li>
                    <div>What is the capital of india? </div>
                    <div class="row">
                    <div class="col-md-6">
                        <ul class="options">
                            <li>a) Delhi</li>
                            <li>b) Kanpur</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="options">
                            <li>c) agra <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
                            <li>d) ludhiyana</li>
                        </ul>
                    </div>
                    </div>
                </li>    
                <li>
                    <div>What is the capital of india? </div>
                    <div class="row">
                    <div class="col-md-6">
                        <ul class="options">
                            <li>a) Delhi</li>
                            <li>b) Kanpur</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="options">
                            <li>c) agra <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
                            <li>d) ludhiyana</li>
                        </ul>
                    </div>
                    </div>
                </li>    
                <li>
                    <div>What is the capital of india? </div>
                    <div class="row">
                    <div class="col-md-6">
                        <ul class="options">
                            <li>a) Delhi</li>
                            <li>b) Kanpur</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="options">
                            <li>c) agra <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
                            <li>d) ludhiyana</li>
                        </ul>
                    </div>
                    </div>
                </li>    
                <li>
                    <div>What is the capital of india? </div>
                    <div class="row">
                    <div class="col-md-6">
                        <ul class="options">
                            <li>a) Delhi</li>
                            <li>b) Kanpur</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="options">
                            <li>c) agra <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
                            <li>d) ludhiyana</li>
                        </ul>
                    </div>
                    </div>
                </li>    
                <li>
                    <div>What is the capital of india? </div>
                    <div class="row">
                    <div class="col-md-6">
                        <ul class="options">
                            <li>a) Delhi</li>
                            <li>b) Kanpur</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="options">
                            <li>c) agra <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
                            <li>d) ludhiyana</li>
                        </ul>
                    </div>
                    </div>
                </li>    
                <li>
                    <div>What is the capital of india? </div>
                    <div class="row">
                    <div class="col-md-6">
                        <ul class="options">
                            <li>a) Delhi</li>
                            <li>b) Kanpur</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="options">
                            <li>c) agra <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
                            <li>d) ludhiyana</li>
                        </ul>
                    </div>
                    </div>
                </li>    
            </ul>    
        </div>  

    </div>
